@font-face {
  font-family: 'Futura PT';
  src: url('/src/assets/fonts/FuturaCyrillicMedium.ttf') format('truetype');
}

@font-face {
  font-family: 'Futura PT Demi';
  src: url('/src/assets/fonts/FuturaCyrillicDemi.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Tiempos Headline';
  src: url('/src/assets/fonts/TiemposHeadline-Black.otf') format('opentype');
  font-weight: bold;
}