//colors
$primary-dark: #13182C;
$primary-color: #2E66E5;
$primary-light: #FFFFFF;

$secondary-dark: #5C667E;
$secondary-light: #BDC5D5;

$background-dark: #232940;
$background-light: #F7F8F9;

$supporting-instock: #158463;
$supporting-error: #C94515;

//breakpoints
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;

//font
$font-family: "Titillium Web";


--nav-background-color: #fcfcfc;
--nav-border-color: #e4e2e1;
--color-text: #32302f;
--color-text-light: #615e5c;
--color-text-muted: #32302f;
--color-text-success: #486635;
--color-text-error: #a43d12;
--color-outlines: #e4e2e1;
--color-outlines-active: #afaaa7;
--color-borders: #32302f;
--color-button-primary: #32302f;
--color-text-button-primary: #fff;